:root {
  --main-font: 'Hanken Grotesk', sans-serif;
}

body {
  font-family: var(--main-font);
  font-optical-sizing: auto;
}

h1, h2, h3, h4 {
  font-family: var(--main-font);
  font-weight: 700; 
} 
